<div class="signup-form">
  <form #loginForm="ngForm" (ngSubmit)="SignUp()">
    <h2>Sign Up</h2>
    <p>Please fill in this form to create an account!</p>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" name="firstName" placeholder="First Name" required="required"
             [(ngModel)]="User.FirstName">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="middleName" placeholder="Middle Name"
             [(ngModel)]="User.MiddleName">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="lastName" placeholder="Last Name"
             [(ngModel)]="User.LastName">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" placeholder="Email" required="required"
             [(ngModel)]="User.Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required"
             [(ngModel)]="User.Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required"
             [(ngModel)]="confirmPassword">
    </div>
    <div class="form-group">
      <select [(ngModel)]="User.SelectedRole" name="ddlRoles" id="ddlRoles" class="form-control">
        <option *ngFor="let role of availableRoles"
                [ngValue]="role.name"
                [selected]="role.name == User.SelectedRole">
          {{role.name}}
        </option>
      </select>
      <!--selected value :  {{User.SelectedRole}}-->
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
    <div class="hint-text">Already have an account? <a href="#" [routerLink]="['/login']">Login here</a></div>
  </form>
</div>
